body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 55px;
  background-color: #EEAC00;
  top: 0px;
  width: 100%;
  color: #fff;
  align-items: center;
}

.navbar a {
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
  font-family: 'Amaranth';
  text-decoration: none;
  font-size: 25px;
  /* margin-right: 25px; */
  /* transition: all .1s ease-in; */
}

/* .navbar a:hover {
  color: #fff;
  scale: 1.1;
  text-decoration: underline;
  margin-right: 25px;
} */

/* @media screen and (max-width: 500px){
  .navbar{
    display: grid;
    width: 100px;
    top: 0;
    right: 0;
    height: 200px;

  }
} */


.under {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  row-gap: 20px;

}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.prod {

  height: 436px;
  width: 335px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.25);

}

.upper_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  padding-left: 10px;
  font-size: 24px;
  margin: 0;
}

.price {
  padding-right: 10px;
  font-size: 32px;
  margin: 0;
}

.info_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 60%;
  font-size: small;
  color: gray;
  padding-left: 5px;
}

.down_info {
  display: flex;
}

.img {
  height: 306px;
  width: 306px;
  overflow: hidden;
}

.info {
  width: 100%;
  height: 130px;
}

.add {
  width: 40%;
  margin: 15px;
  border-radius: 10px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  background-color: #FFB703;
  transition: all .3s ease-out;

}

.add:hover {
  background-color: #222;
  color: #fff;
  scale: 1.1;
  background-color: #ffc42f;
}

.delet {
  height: 30px;
  margin: 10px;
  padding-inline: 15px;
  border-radius: 100px;
  color: #fff;
  border: none;
  background-color: #222;
  cursor: pointer;

  transition: all .3s ease-out;

}

.delet:hover {
  background-color: #F00;
  color: #fff;
  scale: 1.2;
}